.idea/
.vscode/
DataNST/
Dogovor/build/
TestProgram.py
logging.log
DataNST/__pycache__/qtable_ui.cpython-311.pyc
DataNST/__pycache__/untitled_ui.cpython-311.pyc
DataNST/__pycache__/qtable_ui.cpython-311.pyc
.vscode/settings.json
Dogovor/__pycache__/interface.cpython-311.pyc
Dogovor/__pycache__/raz.cpython-311.pyc
Dogovor/__pycache__/replase.cpython-311.pyc
